:root {
    --page: rgb(240,230,180);
    --pen-color-yellow: #FFFF33;
    --pen-color-orange: #FFA500;
    --pen-color-green: #98FB98;
    --pen-color-blue: #204d74;
    --pen-color-red: #ac3235;
    --pen-color-cyan: #b4e7f8;
    --vrule: rgb(220,156,126);
    --hrule: rgb(160,190,200);
    --cover-page-blue: rgb(41,104,207);
    --cover-page-green: #a0c97a;
    --cover-page-red: #db6f4b;
}

/* padding and border are included in the total width and height of the elements */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    max-width: 100vw;  
}