:root {
  --page: rgb(240,230,180);
  --pen-color: #204d74;
  --vrule: rgb(220,156,126);
  --hrule: rgb(160,190,200);
}

/* padding and border are included in the total width and height of the elements */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr 3rem;
  height: 100vh;
  width: 100vw;
}

.notebook {
  background-color: var(--background);
  padding: 16px;
  overflow: auto;
}

.points {
  pointer-events: all;
  -ms-pointer-events: all;
  fill: none;
  stroke: var(--pen-color);
  stroke-width: 3;
}

.float-left {
  float: left;
}
