:root {
  --page: rgb(240,230,180);
  --pen-color-yellow: #FFFF33;
  --pen-color-orange: #FFA500;
  --pen-color-green: #98FB98;
  --pen-color-blue: #204d74;
  --pen-color-red: #ac3235;
  --pen-color-cyan: #b4e7f8;
  --vrule: rgb(220,156,126);
  --hrule: rgb(160,190,200);
}

/* padding and border are included in the total width and height of the elements */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
}

.header {
  /* margin: 16px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-rows: 72px 72px;
  /* align-items: center; */
}

.btn-group {
  /* height: min-content; */
  width: max-content;
  margin: auto 16px auto 16px;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid var(--border);
  /* display: flex; */
  /* flex-grow: row; */
}

.btn {
  /* display: flex; */
  /* flex-flow: column; */
  align-items: center;
  padding: 8px;
  margin: auto;
}

.btn:active {
  color: var(--highlight);
}

.btn span {
  font-size: 12px;
}

.notebook {
  background-color: var(--background);
  padding: 16px;
  overflow: auto;
  display: inline-block;
}

.points {
  pointer-events: all;
  -ms-pointer-events: all;
  fill: none;
  stroke: var(--pen-color-blue);
  opacity: 0.5;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.eraser-cursor {
  cursor: url(./cursor/eraser.cur), auto;
}
