
.page-background {
  fill: white;
  /* var(--page); */
  /* stroke: black; */
  /* stroke-width: 0.1 */
}

.rule {
  stroke-width: 0.4;
  fill: none;
}

.hrule {
  stroke: var(--hrule);
}

.vrule {
  stroke: var(--vrule);
}

#dpi {
  top: -100%;
  left: -100%;
  position: absolute;
  width: 10mm;
  height: 10mm;
}
