.pref-popup {
  background-color: var(--background-body);
  border: 2px solid var(--border);
  left: 160px;
  top: 160px;
  position: absolute;
  max-width: calc(100vw - 160px - 80px);
  max-height: calc(100vh - 160px - 80px);
  display: flex;
  flex-flow: column;
}
