
/* .focus-page {
  border: 4px solid white;
} */

.highlighter {
  fill: none;
  stroke-width: 16;
  stroke-linecap: round;
  opacity: 0.7;
}

.strokes {
  fill: none;
  stroke-linecap: round;
}

.selection-box {
  fill: gray;
  fill-opacity: 0.3;
  stroke: black;
  stroke-width: 0.5;
  stroke-dasharray: 4;
}

.selected {
  stroke: grey;
  stroke-dasharray: 4;
}
